.btn{
    background-color: rgb(175, 175, 175);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     &:hover {
        background-color: rgb(202, 202, 202);
    }
    
}