
.tarjeta1{
    @include propiedadesTarjeta(5px,0px 2px 2px ,all 400ms);
    
    &:hover {
        transform: scale(1.02);
       
    }
      
}
.tarjeta2{
   @extend .tarjeta1;
   
}
.tarjeta3{
 
    @extend .tarjeta1;
    box-shadow: 0px 3px 3px;
}


.card {
    position: relative;
    overflow: hidden;
   
}

.imgCard {
    width: 100%;
    transition: all linear 0.8s;
}

.hoverImg {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    
}
.card:hover .imgCard{
    opacity: 1;
}

.card:hover img.hoverImg {
    opacity: 1;

}
