*{
    box-sizing: border-box;
    margin: 0;


}
body {
    font-family: 'Roboto',sans-serif;
}
.btn{
    background-color: rgb(236, 233, 225);
    
     
}
.btn:hover {
    background-color: rgb(122, 116, 95);
}
.logo {
    animation-name: aparecer;
    animation-duration: 1.5s;
   
    
    
   
     
}
@keyframes aparecer {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }


